{% extends "layout.njk" %}

{% block head %} 
    <title>About</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/26313317?s=460&v=4" alt="Carlos Anderson">
        <h1>Carlos Anderson</h1>
        <h2>FullStack Developer</h2>
        <p>Focused on technologies for building systems from Backend to Frontend. </p>
    </div>

    <footer>
        <div id="links-footer" class="links">
            <a href="https://github.com/karlscode" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/carlos-anderson-ti/" target="_blank">LinkedIn</a>
        </div>
    </footer>

{% endblock %}